<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="myCalculator" class="com.jiang.impl.MyCalculator"></bean>
    <bean id="logUtil" class="com.jiang.utils.LogUtil"></bean>



    <!--需要aop空间-->
    <aop:config>
        <!--制定切面 ref指定切面 相当于加了@Aspect   -->
        <aop:aspect ref="logUtil">
            <!--那个方法是前置通知 method=@Before point=切入表达式-->
            <aop:before method="logStart" pointcut="execution(* com.jiang.impl.MyCalculator.*(..))" />

            <!--抽取切面表达式 -->
            <aop:pointcut id="mypoint" expression="execution(* com.jiang.impl.MyCalculator.*(..))"/>
            <!--通过pointcut-ref引入-->
            <aop:after-returning method="logReturn" pointcut-ref="mypoint" returning="result"/>

            <aop:after-throwing method="logExc" pointcut-ref="mypoint" throwing="e"/>
            
        </aop:aspect>
    </aop:config>
</beans>